.table-wrapper {
  display: flex;
  justify-content: center; /* 横のまんなか */
  align-items: center;     /* 縦のまんなか */
  height: 100vh;           /* 画面いっぱい */
}

table {
  width: 80%;              /* 大きさ調整 */
  font-size: 20px;         /* 文字おおきく */
  border-collapse: collapse;
}

th, td {
  border: 2px solid #333;
  padding: 12px;
  text-align: center;
}

h1 {
  font-size: 42px;
  text-align: center;  
  color: blue;
}

h2 {
  font-size: 38px;
  text-align: center;  
  color: black;
}

.back-link {
  position: fixed;
  top: 8px;
  left: 8px;

  font-size: 14px;
  text-decoration: none;
  color: #000;
  background: #fff;
  padding: 2px 6px;
  border: 1px solid #000;
}

.back-link:hover {
  background: #eee;
}
